<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>about</title>
</head>
<body>
 <p style="color: #FF5733  ;font-size:19px;"><h1>“Nature alone is antique and the oldest art a mushroom.”</h1> ~ Thomas Carlyle <br><br>

Mushrooms!! Creamy Mushroom Bruschetta, Mushroom Risotto, Mushroom pizza, Mushrooms in a burger, and what not! Just by hearing the names of these dishes, people be drooling! Their flavor is one reason that takes the dish to the next level!<br><br><br>

But have you ever wondered if the mushroom you eat is healthy for you?<br> From over <strong>50,000 species</strong> of mushrooms only in North America, how will you classify the mushroom as edible or poisonous? Poisonous mushrooms can be hard to identify in the wild!<br><br><br>

    This webapp detects if the mushroom is <strong>edible or poisonous</strong> by its specifications like cap shape, cap color, gill color, etc. using different classifiers.</p>


    <section class="prediction">

      <button class="btn btn-app"><a href='/webapp'>MUSHROOM CLASSIFICATION</a></button>
    </section>
    </div>
</body>
</html>