<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mushroom classification</title>

</head>
<body style="background-color:pink;">
<center>
   <div class="container">

    <section class="About">
       <a href='/about'><button class="btn btn-abt">ABOUT</button></a>


    </section>

    <section class="prediction">
        <a href='/webapp'><button class="btn btn-app">MUSHROOM CLASSIFICATION</button></a>

    </section>
   </div>


</center>
</body>
</html>